/*
 * Styles for Categories List
 */

 @import '../../styles/base/mixins';
 @import '../../styles/base/palette';
 @import '../../styles/base/typography';

.demo-dashboard-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  padding-top: 50px;
}
