@charset 'utf-8';

@import './base/mixins';
@import './base/palette';
@import './base/resets';
@import './base/typography';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
