/*
 * Styles for Dashboard
 */

 @import '../../styles/base/mixins';
 @import '../../styles/base/palette';
 @import '../../styles/base/typography';

.demo-dashboard-container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .demo-main-page-container {
    width: 100%;
  }
}

