  $demo-white: #ffffff;
  $demo-black: #000000de;
  $demo-light-gray: #B8B8B8;
  $demo-searchbar-border-gray: #b6b6b6;
  $demo-dark-gray: #00000094;
  $demo-light-black: #00000012;
  $demo-purple: #474EBB;
  $demo-blue: #04347F;
