@import './mixins';
@import './typography';

h1 {
  color: $demo-white;
  font-family: $ProductSansRegular;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 !important;

  @include respond(mobile) {
    font-family: $ProductSansRegular;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
  }
}

h2 {
  color: $demo-white;
  font-family: $ProductSansRegular;
  font-size: 73.33px;
  line-height: 88px;
  margin: 0 !important;

  @include respond(mobile) {
    font-family: $ProductSansRegular;
    font-size: 46.67px;
    line-height: 56px;
  }
}

h3 {
  color: $demo-white;
  font-family: $ProductSansRegular;
  font-size: 66.67px;
  line-height: 80px;
  margin: 0 !important;

  @include respond(mobile) {
    font-family: $ProductSansRegular;
    font-size: 40.67px;
    line-height: 56px;
  }
}

h4 {
  color: $demo-black;
  font-family: $SFProDisplayMedium;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1.01px;
  margin: 0 !important;

  @include respond(mobile) {
    font-family: $ProductSansRegular;
    font-size: 40px;
    line-height: 48px;
  }
}

h5 {
  color: $demo-black;
  font-family: $SFProDisplayRegular;
  font-size: 20px;
  line-height: 28px;
  margin: 0 !important;

  @include respond(mobile) {
    font-family: $ProductSansRegular;
    font-size: 20px;
    line-height: 24px;
  }
}

h6 {
  color: $demo-white;
  font-family: $SFProDisplayRegular;
  font-size: 16px;
  line-height: 20px;
  margin: 0 !important;

  @include respond(mobile) {
    font-family: $ProductSansRegular;
    font-size: 16px;
    line-height: 20px;
  }
}

p, label, input, button {
  margin: 0 !important;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

  @include respond(mobile) {
    font-size: 12px;
  }
}

p {
  color: $demo-black;
  font-family: $ProductSansRegular;
}

label {
  color: $demo-black;
  font-family: $ProductSansRegular;
}

input {
  color : $demo-light-gray;
  font-family: $ProductSansBold;
}

button {
  color: $demo-white;
  font-family: $ProductSansBold;
  background-color: $demo-blue;
  border: 2px solid $demo-blue;
}


a {
  text-decoration: none;
  color: $demo-white;
  :visited {
    color: $demo-white;
  }
}
